body {
  background-color: burlywood;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: 1px solid blueviolet;
}

button {
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.result {
  margin-top: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
} 

 .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: yellowgreen;
}

.result-container {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
